$footer_header:#223A57;
$dark-blue:#001E48;
$light-gray:#ECEFEF;
$light-blue:#1D84BF;
$light-gray-100:#98a2a2;
$darkBlue: #0c265d;
$lightBlue: #57a2d2;
$lightGray:#E9E8E9;
$Grey:#ebeeee;
$textGrey:#c5c2c1;
