@import '../../../../assets/scss/variables';
.homeBanner {
  background-image: url("../../../../assets/images/Banner/anteena.png");
  background-size: cover;
  height: 400px;
  position: relative;
  background-repeat: no-repeat;
  margin-left: -2px;
  z-index: -1;
  background-position: center center;
}
@media screen and (max-width: 700px) {
  .homeBanner {
    margin-top: unset;
    // min-height: 100px;
  }
}

.typeLogin{
  text-align: center;
  color:$dark-blue;
  font-size:16px;
  font-family: Open_Sans_bold;
  margin-bottom: 30px;
  .active{
    color:$light-blue;
    font-size: 13px;
    margin-right: 5%;
  }
}


form{
  width: 50%;
  margin: 0 auto;
  label{
    margin-bottom: 0px;
    font-size: 12px;
    color:$dark-blue;
    font-weight: 600;
    &.forget{
      color:$light-gray-100;
      margin-top: -5px;
      font-weight: normal;
    }
  }
  .form-control{
    background:$light-gray;
  }
  @media screen and (max-width:425px){
    width:100%;
  }
  .lightBlueButton{
    width:50%;
  }
}
