<app-header></app-header>
<div class="homeBanner">
  <app-navbar></app-navbar>
</div>

<div class="data-container">
  <div class="contant">
    <div class="row">
      <div class="col-md-6 col-sm-12">
      <div class="signUp-Body">
        <div class="typeSignUp">
          <span>GET STARTED</span>
          <br />
          <span class="text-right">Create an account</span>
        </div>
        <form>
          <div class="form-row">
            <div class="form-group col-12">
              <label for="inpuName">full name</label>
              <input type="name" class="form-control" id="inputName">
            </div>
            <div class="form-group col-12">
              <label for="inputName">Pick a username</label>
              <input type="name" class="form-control" id="inputName" >
            </div>
            <div class="form-group col-12">
              <label for="inputPassword">make a password</label>
              <input type="password" class="form-control" id="inputPassword" >
            </div>
            <div class="form-group col-12">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail">
            </div>
            <div class="form-group col-12">
              <button type="button" (click)="signIn()" class="btn darkBlueButton float-right">SIGN UP</button>
            </div>
          </div>
        </form>
      </div>
      </div>
      <div class="col-md-6 col-sm-12">
      <div class="login-Body ">
        <div class="typeLogin">
          <span class="active">JOBSEEKER</span><span>Log IN</span>
        </div>
        <form>
        <div class="form-row">
          <div class="form-group col-12">
            <label for="inputEmail">User name</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="User name">
          </div>
          <div class="form-group col-12">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            <label class="forget">Forget Password?</label>
          </div>
          <div class="form-group col-12">
            <div class="form-check float-left">
              <input class="form-check-input" type="checkbox" id="inputEmail" id="gridCheck">
              <label class="form-check-label" for="gridCheck">Remember Me</label>
            </div>
              <button type="button" (click)="signIn()" class="btn lightBlueButton float-right">SIGN IN</button>
          </div>
        </div>
      </form>
      </div>
    </div>
    </div>
    
    <div class="text-container">
      <div class="text-center pb-5">
        <span class="heading">WANT A 5 STAR RATING OR CAREER COACHING?</span><br />
        <span class="body"
          >Excepteur sint occaecat cupidatat non proident, sunt in culpa<br />
          qui officia deserunt mollit anim id est laborum.</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 ">
          <div class="castomWidth">
            <div class="customHeader">
              PERSONALITY ASSESMENT
            </div>
          <div class="customBody">
            <div class="itemDetail">
              Test goes here
            </div>
              <div class="col text-center">
                <button type="button"  class="btn lightBlueButton ">BUTTON</button>
              </div>
            </div>
          </div> 
        </div>
        <div class="col-sm-4 ">
          <div class="castomWidth">
            <div class="customHeader">
              CAREER COACHING
            </div>
          <div class="customBody">
            <div class="itemDetail">
              Test goes here
            </div>
              <div class="col text-center">
                <button type="button"  class="btn lightBlueButton ">BUTTON</button>
              </div>
            </div>
          </div> 
        </div>
        <div class="col-sm-4 ">
          <div class="castomWidth">
            <div class="customHeader">
              QUALIFICATION VERIFICATION
            </div>
          <div class="customBody">
            <div class="itemDetail">
              Test goes here
            </div>
              <div class="col text-center">
                <button type="button"  class="btn lightBlueButton ">BUTTON</button>
              </div>
            </div>
          </div> 
        </div>
    </div>
  </div>
</div>
<div class="carausel-container">
  <div class="text-center pb-5">
    <span class="heading">NOW HIRING THROUGH ALTGEN</span><br />
    <span class="body"
      >Excepteur sint occaecat cupidatat non proident, sunt in culpa<br />
      qui officia deserunt mollit anim id est laborum.</span
    >
  </div>
<div class="crausels">
    <owl-carousel-o
      [options]="customOptions"
      (translated)="getPassedData($event)"
    >
      <ng-container *ngFor="let slide of slide">
        <ng-template carouselSlide [id]="slide.id">
          <img [src]="slide.image" [alt]="slide.alt" [title]="slide.alt" />
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>
<div class="bottom-container">
  <div class="bottom-image">
    <div class="row m-0">
      <div class="col-lg-6 col-md-6 col-sm-12 img-1">
        <img src="assets/images/mobile.png" />
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <div class="download">
          <span class="heading">FIND YOUR DREAM JOB ON THE GO</span><br />
          <span class="body"
            >Our mobile app is available on iOS and Android</span
          ><br />
          <button class="btn">DOWNLOAD</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
