@import '.../../../../../assets/scss/variables';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

.notFoundBanner {
  background-image: url("../../../assets/images/Banner/not-found-404.png");
  background-position: center ;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
  margin-left: -2px;
  z-index: -1;
  width: 100%;
}
@media only screen and (max-width: 400px) {
  .notFoundBanner {
   margin-top: unset;
   height: 100%;
    
  }
}
.container-fluid{
    background:  $light-gray;
    padding: 2em;
    width: 65%;
    margin: -4.5em auto 15px auto;
    
    .heading{
        color: $dark-blue;
        font-size: 20px;
        margin-bottom: 25px;
        .bold{
            font-weight: bolder;
        }
    }
    .body {
        color: $light-gray-100;
        letter-spacing: 0.7px;
        font-size: 11px;
    }
    @media screen and (max-width:600px){
        margin-top: 0px;
        width:100%;
        top:0px;
    }
}

.carausel-container {
    padding: 3% 18%;
    .heading {
      color: $dark-blue;
      font-weight: bolder;
      font-size: 18px;
      margin-top: 50px;
    }
    .body {
      color: $light-gray-100;
      letter-spacing: 0.7px;
      font-size: 11px;
    }
}
.crausels {
    height: 100px;
    overflow: hidden;
    img {
      width: 60px;
      height: 60px;
      overflow: hidden;
    }
}
.bottom-container {
    height: 360px;
    background-color: $light-gray;
  
    .bottom-image {
      background-image: url("../../../assets/images/Banner/advertisment.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 80%;
    }
    .img-1 {
      padding-right: 5%;
      padding-top: 3%;
      img {
        vertical-align: middle;
        border-style: none;
        z-index: 4;
        max-height: 340px;
        min-height: 300px;
        margin-bottom: -35%;
        max-width: 350px;
        min-width: 280px;
        float: right;
      }
    }
    .download {
      z-index: 4;
      color: $light-gray-100;
      padding-top: 16%;
      text-align: center;
      padding-right: 32%;
      .heading {
        font-size: 19px;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.829);
        letter-spacing: 0.6px;
       }
      .body {
        font-size: 16px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.829);
      }
      .btn {
        background-color: $light-blue;
        color: white;
        padding: 5px 15px;
        font-size: 12px !important;
        margin-top: 15px;
      }
    }
}
  
@media only screen and (max-width: 600px) {
    .bottom-container {
        min-height: 380px;
        .bottom-image {
        height: 100%;
            .img-1 {
                img {
                    max-height: 200px;
                    min-height: 100px;
                    max-width: 150px;
                    min-width: 80px;
                    text-align: center;
                    float: none;
                    margin: 5% 35% 2% 20%;
                }
            }
            .download {
                padding-top: unset;
                text-align: center;
                padding-right: 5px;
                padding-left: 5px;
                .heading {
                    font-size: 16px;
                }
                .body {
                    font-size: 14px;
                }
            }
        }
    }
}