<footer class="footer-area footer--light">
  <div class="footer-big">
    <!-- start .container -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="footer-widget">
            <div class="widget-about footer-about">
              <p>
                <span class="footer-title">LEADERS IN RENEWABLE ENERGY</span
                ><br />
                <span
                  >& SUSTAINABILITY RECRUITMENT, EMPLOYMENT & CONSULTING &<br />
                  CONSULTING SERVICES IN AFRICA</span
                ><br /><br />
                <span
                  >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore.</span
                >
              </p>
            </div>
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-4 -->
        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu footer-menu--1">
              <span class="footer-title">PAGES</span>
              <ul class="list-unstyled mt-2">
                <li>
                  <a href="#">JOBS</a>
                </li>
                <li>
                  <a href="#">VERIFICATIONS</a>
                </li>
                <li>
                  <a href="#">RECRUITMENT</a>
                </li>
                <li>
                  <a href="#">EMPLOYMENT SERVICES</a>
                </li>
                <li>
                  <a href="#">ABOUT</a>
                </li>
                <li>
                  <a href="#">BLOG</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-3 -->

        <div class="col-md-2 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu">
              <span class="footer-title">SUPPORT</span>
              <ul class="list-unstyled mt-2">
                <li>
                  <a href="#">CONTACT US</a>
                </li>
                <li>
                  <a href="#">JOBSEEKER</a>
                </li>
                <li>
                  <a href="#">EMPLOYER</a>
                </li>
                <li>
                  <a href="#">RECRUITER</a>
                </li>
                <li>
                  <a href="#">TERMS & CONDITIONS</a>
                </li>
                <li>
                  <a href="#">PRIVACY POLICY</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-lg-3 -->

        <div class="col-md-3 col-sm-12">
          <div class="footer-widget-sm">
            <div class="footer-menu text-right">
              <span class="footer-title">SOUTH AFRICA | KENYA</span>
              <ul class="list-unstyled mt-2 ">
                <li class="text-right">+27 21 880 2561 <i class="fa fa-phone" aria-hidden="true"></i>
                </li>
                <li class="text-right">careers @altgen.com <i class="fa fa-envelope" aria-hidden="true"></i>
                </li>
                <br>
                <li class="text-right font-small">3rd Floor, Block C,</li>
                <li class="text-right font-small">oulevard Office Park, Searle Street,</li>
                <li class="text-right font-small">Woodstock, Cape Town, 7925</li>
                <li class="text-right font-small">South Africa    </li>
              </ul>
              <ul class='footer-social'>
                <li><a href='#'><i class="fa fa-facebook" aria-hidden="true"></i>
                </a></li>
                <li><a href='#'><i class="fa fa-twitter" aria-hidden="true"></i>
                </a></li>
                <li><a href='#'><i class="fa fa-linkedin" aria-hidden="true"></i>
                </a></li>
                <li><a href='#'><i class="fa fa-instagram" aria-hidden="true"></i>
                </a></li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- Ends: .col-lg-3 -->
      </div>
      <!-- end /.row -->
    </div>
    <!-- end /.container -->
  </div>
  <!-- end /.footer-big -->
</footer>
